<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> | <%= articles.book.telugu %> - <%= articles.book.english %> | Chapter <%= chapterno %> - Verse <%= verseid+1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
   <h1>
       

        <%= articles.book.telugu %> - <%= articles.book.english %>
        <br/>
        <small class="sml">Total Chapters: <%= articles.count %></small>
    </h1>
   

    
   <h2>
    <small class="sml">Chapter <%= chapterno+1 %> - Verse <%= verseid+1 %></small>
    <br />
    <%= chapterdata.verse %>. <%= chapterdata.text %>
   </h2>
  
   
   
  </body>
</html>