<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %> | <%= articles.book.telugu %> - <%= articles.book.english %> | Chapter <%= chapterno %> - Verse <%= verseid+1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
   <h1>
       

        <%= articles.book.telugu %> - <%= articles.book.english %>
        <br/>
        <small class="sml">Total Chapters: <%= articles.count %> | Total Verses: <%= articles.chapters[chapterno-1].verses.length %></small>
        
       
    </h1>
   

    
   <h2>
    <small class="sml">Chapter <%= chapterno %> - Verse <%= verseid+1 %></small>
    <br />
    <%= chapterdata.verse %>. <%= chapterdata.text %>
   </h2>
  
   <div>
   
    <% if(articles.chapters[chapterno-1].verses.length == verseid+1) { %>
      <h1><a href=<%= verseid+1-1 %> ><</a> <small class="sml"> End of the Chapter </small></h1> 
    <% } %>
   </div>
   <% if(articles.chapters[chapterno-1].verses.length != verseid+1) { %>
    <h1><a href=<%= verseid+1-1 %> title="Prev"><</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="../../../getBiblebookchapter/<%= chapterid %>/<%= chapterno %>"><img src="https://cdn-icons-png.flaticon.com/24/168/168214.png" /></a> &nbsp;&nbsp;&nbsp;&nbsp; <a href=<%= verseid+1+1 %> title="Next">></a></h1>
   <% } %>
   
  </body>
</html>